<svg id="test1" height="50px" width="172">
  <rect stroke="#000" height="50" width="150" y="0" x="11" stroke-width="1" fill="#fff" rx="10"/>
  <text stroke="#000" text-anchor="start" font-size="12" id="svg_4" y="30" x="24" stroke-width="0" fill="#000000"
        pointer-events="none">{{ nodedata.name }}
  </text>
  <rect stroke="#000" id="svg_5" height="20" width="20" y="15" x="151" fill-opacity="null" rx="3"
        stroke-opacity="null" stroke-width="1" fill="#fff"/>
  <rect id="svg_6" height="20" width="20" y="15" x="1" fill-opacity="null" stroke-opacity="null" rx="5"
        stroke-width="1" stroke="#000" fill="#fff"/>
</svg>
